/* CSS declarations go here */

.available {
	background: url(images/teetimebg.jpg);
	background-repeat: no-repeat;	
	
}

.open {
	padding-right: 5px;
	padding-top: 15px;
}

.text {
	text-align: center;
}

.bookButton {
	width: 100px;
	margin: 0px auto;
}

button {
	
	margin: 0px auto;
}

body {
	background: url(images/blades_of_grass_seamless_pattern.jpg);
}

.calendar {
	margin: 0px auto;
	width: 30%;
	text-align: center;
}