/* CSS declarations go here */
.padding {
	padding-bottom: 10px;
	padding-top: 10px;
}


.available {
	background: url(images/teetimebg.jpg);
	background-repeat: no-repeat;	
	min-width: 150px;


}

.open {
	padding-right: 5px;
	padding-top: 15px;
}

.text {
	text-align: center;
}

.bookButton {
	width: 120px;
	margin: 0px auto;
	padding-top: 15px;

}


body {
	background: url(images/blades_of_grass_seamless_pattern.jpg);
}


.timepicker {
	max-width: 300px;
	margin: 0 auto;
	text-align: center;
}

.btndiv {
	text-align: center;
	padding-bottom: 5px;
}